<img src = "https://images2.imgbox.com/a5/72/7ZbDUHlf_o.jpg" width="200">

### Perguntas:
---
- Quantos gêneros o filme "The Matrix" tem? Quais são os gêneros?
- Quantos gêneros cada filme tem, em média?
- Quais são os cinco filmes com maior número de gêneros?
- Quantos usuários deram nota para o filme "The Matrix"?
- Quantos usuários, em média, deram nota para cada filme?
- Quais são os cinco filmes para os quais mais usuários deram nota?
- Qual o rating médio do filme "The Matrix"?
- Cada filme tem um rating médio. Qual a média desses ratings, por gênero?
- Para cada gênero de filme, quantos usuários deram cada nota possível?

### Dicas:
---
1. Só é necessário as tabelas movies e ratings para este projeto.
2. Pesquise a função "explode" no pandas. Ela pode ser útil.

---

In [1]:
# Importando bibliotecas
import pandas as pd

In [2]:
# Carregando dados 
movies_df = pd.read_csv('data/movies.csv')
ratings   = pd.read_csv('data/ratings.csv')

In [3]:
#  primeiras observações do dataframe
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
# primeiras observações do dataframe
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

---
## Quantos gêneros o filme "The Matrix" tem? Quais são os gêneros?

In [5]:
movies_df[movies_df.title.str.contains('Matrix', regex=True)]

,movieId,title,genres
1939,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller
4351,6365,"Matrix Reloaded, The (2003)",Action|Adventure|Sci-Fi|Thriller|IMAX
4639,6934,"Matrix Revolutions, The (2003)",Action|Adventure|Sci-Fi|Thriller|IMAX

---
## Quantos gêneros cada filme tem, em média?

In [6]:
genres = movies_df.genres.str.split('|')
genres.str.len().sum() / len(movies_df.movieId.unique())

2.2668856497639087

---
## Quais são os cinco filmes com maior número de gêneros?

In [7]:
count_genres = genres.str.len().sort_values(ascending=False).head(5).index.tolist()
count_genres

[7441, 5556, 6626, 2250, 5819]

In [8]:
movies_df.loc[movies_df.index.isin(count_genres)]

,movieId,title,genres
2250,2987,Who Framed Roger Rabbit? (1988),Adventure|Animation|Children|Comedy|Crime|Fant...
5556,26701,Patlabor: The Movie (Kidô keisatsu patorebâ: T...,Action|Animation|Crime|Drama|Film-Noir|Mystery...
5819,32031,Robots (2005),Adventure|Animation|Children|Comedy|Fantasy|Sc...
6626,56152,Enchanted (2007),Adventure|Animation|Children|Comedy|Fantasy|Mu...
7441,81132,Rubber (2010),Action|Adventure|Comedy|Crime|Drama|Film-Noir|...

---
## Quantos usuários deram nota para o filme "The Matrix"?

In [9]:
sum(ratings.movieId == 2571)

278

---
## Quantos usuários, em média, deram nota para cada filme?

In [10]:
#ratings.groupby('movieId')['userId'].count()

In [11]:
ratings.groupby('movieId')['userId'].count().mean()

10.369806663924312

---
## Quais são os cinco filmes para os quais mais usuários deram nota?

In [12]:
movies = ratings.groupby('movieId')['movieId'].count().sort_values(ascending=False).head(5).index.tolist()
movies

[356, 318, 296, 593, 2571]

In [13]:
movies_df.loc[movies_df.movieId.isin(movies)]

      movieId                             title                       genres
257       296               Pulp Fiction (1994)  Comedy|Crime|Drama|Thriller
277       318  Shawshank Redemption, The (1994)                  Crime|Drama
314       356               Forrest Gump (1994)     Comedy|Drama|Romance|War
510       593  Silence of the Lambs, The (1991)        Crime|Horror|Thriller
1939     2571                Matrix, The (1999)       Action|Sci-Fi|Thriller

---
## Qual o rating médio do filme "The Matrix"?

In [14]:
ratings.loc[(ratings.movieId == 2571), 'rating'].mean()

4.192446043165468

---
## Cada filme tem um rating médio. Qual a média desses ratings, por gênero?

---
## Para cada gênero de filme, quantos usuários deram cada nota possível?