<img src = "https://images2.imgbox.com/a5/72/7ZbDUHlf_o.jpg" width="200">

###  Processamento de dados:
---
- Criar uma tabela com todos os MQLs, com todas as informações disponíveis para cada um.
- Criar uma coluna com quais MQLs fecharam acordo e quais foram perdidos.

### Perguntas a serem respondidas:
---
- Qual foi a taxa de conversão total?
- Qual foi a taxa de conversão de cada origem?
- Qual foi a taxa de conversão de cada página inicial?
- Para cada SR, qual a receita média declarada dos leads?
- Para cada SR, quantos de cada business_type a pessoa converteu?
- Para cada SR, quantos de cada lead_behaviour_profile a pessoa converteu?
- Para cada SR, quantos de cada lead_type a pessoa converteu?

### Extra:
---

Caso consiga resolver as questões acima com facilidade, aproveite a base "irmã" dessa para fazer outras explorações que você ache interessante!

https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce

**Lembre de separar novamente em 2 etapas:**
1. Processamento dos dados, para criar uma tabela "analítica".
2. Análise exploratória dos dados.

---

In [2]:
import pandas as pd
import numpy as np

In [3]:
mkt_leads_df    = pd.read_csv('data\olist_marketing_qualified_leads_dataset.csv')
closed_deals_df = pd.read_csv('data\olist_closed_deals_dataset.csv')

In [4]:
mkt_leads_df.head()

,mql_id,first_contact_date,landing_page_id,origin
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search

In [5]:
closed_deals_df.head()

,mql_id,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,5420aad7fec3549a85876ba1c529bd84,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0
1,a555fb36b9368110ede0f043dfc3b9a0,bbb7d7893a450660432ea6652310ebb7,09285259593c61296eef10c734121d5b,d3d1e91a157ea7f90548eef82f1955e3,2018-05-08 20:17:59,car_accessories,industry,eagle,NaN,NaN,NaN,reseller,NaN,0.0
2,327174d3648a2d047e8940d7d15204ca,612170e34b97004b3ba37eae81836b4c,b90f87164b5f8c2cfa5c8572834dbe3f,6565aa9ce3178a5caf6171827af3a9ba,2018-06-05 17:27:23,home_appliances,online_big,cat,NaN,NaN,NaN,reseller,NaN,0.0
3,f5fee8f7da74f4887f5bcae2bafb6dd6,21e1781e36faf92725dde4730a88ca0f,56bf83c4bb35763a51c2baab501b4c67,d3d1e91a157ea7f90548eef82f1955e3,2018-01-17 13:51:03,food_drink,online_small,NaN,NaN,NaN,NaN,reseller,NaN,0.0
4,ffe640179b554e295c167a2f6be528e0,ed8cb7b190ceb6067227478e48cf8dde,4b339f9567d060bcea4f5136b9f5949e,d3d1e91a157ea7f90548eef82f1955e3,2018-07-03 20:17:45,home_appliances,industry,wolf,NaN,NaN,NaN,manufacturer,NaN,0.0

In [6]:
mqls = pd.merge(mkt_leads_df, closed_deals_df, on='mql_id', how='left')
mqls

,mql_id,first_contact_date,landing_page_id,origin,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,NaN,NaN,NaN,reseller,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,feaba3ffcd2ff97501696c7f9a42f41c,2018-05-22,e42a14209c69c3e9cc6b042620465f12,paid_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7996,a79cb53cd009ab92e0143b92baa2407b,2018-03-27,c494978688ccf66ad9fad3d6a3338c22,paid_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7997,68f049a23ab109c6a0f6989bb9a02994,2017-08-27,b48ec5f3b04e9068441002a19df93c6c,organic_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7998,4f8c96e2509b984329044c6682c88ee9,2017-10-06,a56671a54260a44923d32c2f08fad39c,organic_search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7999,8a6492305a5fbcdcdd1a7f5a90764c07,2018-01-11,b76ef37428e6799c421989521c0e5077,direct_traffic,1bba9c94eb5c4e82fba9f7286fe81025,56bf83c4bb35763a51c2baab501b4c67,de63de0d10a6012430098db33c679b0b,2018-05-02 13:31:32,household_utilities,industry,eagle,NaN,NaN,NaN,manufacturer,NaN,0.0

In [8]:
mqls = mqls.replace(np.nan, 0)

mqls['closed_deal'] = np.where(mqls.seller_id != 0, 1, 0)
mqls

,mql_id,first_contact_date,landing_page_id,origin,seller_id,sdr_id,sr_id,won_date,business_segment,lead_type,lead_behaviour_profile,has_company,has_gtin,average_stock,business_type,declared_product_catalog_size,declared_monthly_revenue,closed_deal
0,dac32acd4db4c29c230538b72f8dd87d,2018-02-01,88740e65d5d6b056e0cda098e1ea6313,social,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,8c18d1de7f67e60dbd64e3c07d7e9d5d,2017-10-20,007f9098284a86ee80ddeb25d53e0af8,paid_search,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,b4bc852d233dfefc5131f593b538befa,2018-03-22,a7982125ff7aa3b2054c6e44f9d28522,organic_search,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,6be030b81c75970747525b843c1ef4f8,2018-01-22,d45d558f0daeecf3cccdffe3c59684aa,email,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
4,5420aad7fec3549a85876ba1c529bd84,2018-02-21,b48ec5f3b04e9068441002a19df93c6c,organic_search,2c43fb513632d29b3b58df74816f1b06,a8387c01a09e99ce014107505b92388c,4ef15afb4b2723d8f3d81e51ec7afefe,2018-02-26 19:58:54,pet,online_medium,cat,0,0,0,reseller,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,feaba3ffcd2ff97501696c7f9a42f41c,2018-05-22,e42a14209c69c3e9cc6b042620465f12,paid_search,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
7996,a79cb53cd009ab92e0143b92baa2407b,2018-03-27,c494978688ccf66ad9fad3d6a3338c22,paid_search,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
7997,68f049a23ab109c6a0f6989bb9a02994,2017-08-27,b48ec5f3b04e9068441002a19df93c6c,organic_search,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
7998,4f8c96e2509b984329044c6682c88ee9,2017-10-06,a56671a54260a44923d32c2f08fad39c,organic_search,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
7999,8a6492305a5fbcdcdd1a7f5a90764c07,2018-01-11,b76ef37428e6799c421989521c0e5077,direct_traffic,1bba9c94eb5c4e82fba9f7286fe81025,56bf83c4bb35763a51c2baab501b4c67,de63de0d10a6012430098db33c679b0b,2018-05-02 13:31:32,household_utilities,industry,eagle,0,0,0,manufacturer,0.0,0.0,1

---
## Qual foi a taxa de conversão total?

In [11]:
mqls.closed_deal.value_counts(normalize=True)*100

0    89.475
1    10.525
Name: closed_deal, dtype: float64

---
## Qual foi a taxa de conversão de cada origem?

In [12]:
mqls.groupby('origin')['closed_deal'].value_counts(normalize=True)*100

origin             closed_deal
0                  0              76.666667
                   1              23.333333
direct_traffic     0              88.777555
                   1              11.222445
display            0              94.915254
                   1               5.084746
email              0              96.957404
                   1               3.042596
organic_search     0              88.196864
                   1              11.803136
other              0              97.333333
                   1               2.666667
other_publicities  0              95.384615
                   1               4.615385
paid_search        0              87.704918
                   1              12.295082
referral           0              91.549296
                   1               8.450704
social             0              94.444444
                   1               5.555556
unknown            0              83.712466
                   1              16.287534
Name: closed_deal, dtype: float64

---
## Qual foi a taxa de conversão de cada página inicial?

In [14]:
mqls.landing_page_id.value_counts()

b76ef37428e6799c421989521c0e5077    912
22c29808c4f815213303f8933030604c    883
58326e62183c14b0c03085c33b9fdc44    495
88740e65d5d6b056e0cda098e1ea6313    445
ce1a65abd0973638f1c887a6efcfa82d    394
                                   ...
8999524db83541c7f1ad48906d5d4b86      1
be7f31219be243061a39a4a158898688      1
ea4434c9a6df0098e720204ba3dbb76d      1
e5eaa929c6697d69cd76727daa809042      1
3683ba5726e741af4b8b02bcaef4e7b3      1
Name: landing_page_id, Length: 495, dtype: int64

---
## Para cada SR, qual a receita média declarada dos leads?

In [16]:
mqls.groupby('sr_id')['declared_monthly_revenue'].mean()

sr_id
0                                        0.000000
060c0a26f19f4d66b42e0d8796688490         0.000000
068066e24f0c643eb1d089c7dd20cd73      7037.037037
0a0fb2b07d841f84fb6714e35c723075      6000.000000
2695de1affa7750089c0455f8ce27021      1694.915254
34d40cdaf94010a1d05b0d6212f9e909     19000.000000
495d4e95a8cf8bbf8b432b612a2aa328      6666.666667
4b339f9567d060bcea4f5136b9f5949e     27777.777778
4ef15afb4b2723d8f3d81e51ec7afefe    377293.233083
56bf83c4bb35763a51c2baab501b4c67     12500.000000
6565aa9ce3178a5caf6171827af3a9ba         0.000000
6aa3b86a83d784b05f0e37e26b20860d      8000.000000
85fc447d336637ba1df43e793199fbc8      1562.500000
9749123c950bf8363ace42cb1c2d0815    103571.428571
9ae085775a198122c5586fa830ff7f2b         0.000000
9d12ef1a7eca3ec58c545c678af7869c     43333.333333
9e4d1098a3b0f5da39b0bc48f9876645         0.000000
a8387c01a09e99ce014107505b92388c     24038.692308
b90f87164b5f8c2cfa5c8572834dbe3f         0.000000
c638112b43f1d1b86dcabb0da720c901         0.000000
d3d1e91a157ea7f90548eef82f1955e3      4939.024390
de63de0d10a6012430098db33c679b0b    151415.094340
fbf4aef3f6915dc0c3c97d6812522f6a         0.000000
Name: declared_monthly_revenue, dtype: float64

---
## Para cada SR, quantos de cada business_type a pessoa converteu?

In [17]:
mqls.groupby('sr_id')['business_type'].value_counts()

sr_id                             business_type
0                                 0                7158
060c0a26f19f4d66b42e0d8796688490  reseller           23
                                  manufacturer        9
068066e24f0c643eb1d089c7dd20cd73  reseller           21
                                  manufacturer        6
0a0fb2b07d841f84fb6714e35c723075  other               1
2695de1affa7750089c0455f8ce27021  reseller           42
                                  manufacturer       16
                                  0                   1
34d40cdaf94010a1d05b0d6212f9e909  reseller            8
                                  manufacturer        1
                                  other               1
495d4e95a8cf8bbf8b432b612a2aa328  reseller           47
                                  manufacturer       14
                                  0                   2
4b339f9567d060bcea4f5136b9f5949e  reseller            6
                                  manufacturer        2
                                  0                   1
4ef15afb4b2723d8f3d81e51ec7afefe  reseller           90
                                  manufacturer       43
56bf83c4bb35763a51c2baab501b4c67  reseller           16
                                  manufacturer        8
6565aa9ce3178a5caf6171827af3a9ba  reseller           54
                                  manufacturer       19
                                  0                   1
6aa3b86a83d784b05f0e37e26b20860d  reseller            1
85fc447d336637ba1df43e793199fbc8  reseller           39
                                  manufacturer       25
9749123c950bf8363ace42cb1c2d0815  reseller            5
                                  manufacturer        2
9ae085775a198122c5586fa830ff7f2b  reseller           36
                                  manufacturer       15
9d12ef1a7eca3ec58c545c678af7869c  reseller            4
                                  manufacturer        2
9e4d1098a3b0f5da39b0bc48f9876645  reseller           14
                                  manufacturer       10
a8387c01a09e99ce014107505b92388c  reseller           21
                                  manufacturer        4
                                  other               1
b90f87164b5f8c2cfa5c8572834dbe3f  reseller            1
c638112b43f1d1b86dcabb0da720c901  reseller           22
                                  manufacturer       12
                                  0                   2
d3d1e91a157ea7f90548eef82f1955e3  reseller           61
                                  manufacturer       19
                                  0                   2
de63de0d10a6012430098db33c679b0b  reseller           40
                                  manufacturer       12
                                  0                   1
fbf4aef3f6915dc0c3c97d6812522f6a  reseller           36
                                  manufacturer       23
Name: business_type, dtype: int64

---
## Para cada SR, quantos de cada lead_behaviour_profile a pessoa converteu?

In [18]:
mqls.groupby('sr_id')['lead_behaviour_profile'].value_counts()

sr_id                             lead_behaviour_profile
0                                 0                         7158
060c0a26f19f4d66b42e0d8796688490  cat                         15
                                  0                            8
                                  wolf                         6
                                  eagle                        2
                                                            ...
fbf4aef3f6915dc0c3c97d6812522f6a  cat                         30
                                  0                           16
                                  eagle                        9
                                  shark                        2
                                  wolf                         2
Name: lead_behaviour_profile, Length: 94, dtype: int64

---
## Para cada SR, quantos de cada lead_type a pessoa converteu?

In [19]:
mqls.groupby('sr_id')['lead_type'].value_counts()

sr_id                             lead_type
0                                 0                  7158
060c0a26f19f4d66b42e0d8796688490  online_medium        15
                                  industry              8
                                  online_beginner       3
                                  online_small          3
                                                     ...
fbf4aef3f6915dc0c3c97d6812522f6a  online_big            8
                                  online_small          6
                                  offline               4
                                  online_top            2
                                  online_beginner       1
Name: lead_type, Length: 123, dtype: int64

---